$white-four: #ffffff;
$border-color: #eeeeee;
$greeny-blue: #4eb495;

.cardWrapper {
  width: 70%;
  background-color: $white-four;
  border: 2px $border-color solid;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 7px;
}

.cardmain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outlineds {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  border-top: 1px $border-color solid;
}

.cardImg {
  width: 70px;
  height: 100%;
}

.cardScore {
  width: 40px;
  height: 30px;
  border: 2px $greeny-blue solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.textWrap {
  display: flex;
  flex-direction: column;
  font-family: Lato;
  font-size: 14px;
  color: #292929;
  margin: 10px;
}

.outlineds div {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #292929;
  margin-right: 15px;
}
